@media (min-width: 200px)and (max-width: 500px)  { 
  #nav-bar{
   flex-direction: column !important;
    
    
    
    height: auto;



  }
  #nav-bar a:link,
a:hover a:visited{
  flex-direction: column;




}
.line{
  margin: auto;
  border: none;
  border-top: 2px solid#d6c08d;


}
  .text{
    display: none;


   }
   .job-grid {
    font-size: 5px;
    flex-direction: column;
    margin-top: 100px;
    

    font-size: larger;
    width: 100%;
    margin: auto;
    padding: 30px;
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
  } 


  .project-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);


  }
  #about>.container {
  
  
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border: 1px solid #adb5bd;
    align-items: center;
   
  
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    margin-top: 30px;
  
  
  
  }
    #personal-info{
    display: block;
  margin-left: 0px;

    }
    
    .img{
     height: 30%;
     justify-content: center;
     margin-top: 20px !important;



    }
    .content{
      font-size: 10px;
    
       
      margin: 0px !important;
      
      width: 100%;
     
      
      



    }
    
    .project-border{
      font-size: 10px;
      padding: 5px 5px 5px 5px;





    }
    
    .img{
      width: 200px;
      margin: auto;
    
      height: 70%;
    
    }
    .playku{
      margin: 0px;
      margin-left: 50px;
      margin-bottom: 30px;
      margin: 0px;



    }
    .job{
      margin-left: 0px;
      max-width: 100%;
      margin: auto;
      display: flex !important;
    
    
     
      



    }
    
   
    .cer-content{
      flex-direction: column;
      gap: 30px;
      
  
  
  
    }
   
    .hu{
      flex-direction: column;
      display: grid !important;

      
      




    }
   
    .texta{
      border: none !important;
      width: 100vw !important;
      text-align: left !important;




    }
    #nav-bar .container{
      flex-direction: column;




    }
    .cergrid{
      margin: auto;
      width: 100%;




    }
    #certificate .container{
      width: 100%;



    }
    .job-box-grid{
      margin: auto;
      height: fit-content;
      margin-top: 50px;
      gap: 10px;




    }
    .job-group{
      display: block;
      grid-template-columns: repeat(1, 1fr);
      grid-row: 10px;
      grid-template-columns: 10px;
    




    }
    .job-group-2{
    margin-top: -200px;
    



    }
  
  
  
    
}




